<footer id="" class="bg-gray-800 text-white p-6 mt-auto">
    <div class="container mx-auto text-center">
        <p class="mb-4">Conecta conmigo:</p>
        <div class="flex justify-center space-x-6">
            <a href="https://github.com/JuniorJR2" target="_blank"
                class="hover:text-green-400 transtion-colors duration-300">
                <i class="fab fa-github fa-2x"></i>
            </a>
            <a href="https://wa.me/9332084714" target="_blank"
                class="hover:text-green-400 transtion-colors duration-300">
                <i class="fab fa-whatsapp fa-2x"></i>
            </a>
        </div>
        <p class="mt-6 text-sm text-gray-400">&copy; 2025 Ramon Gallegos. Todos los derechos reservados</p>
    </div>

</footer>